machine_name: ## YOUR MACHINE NAME FOR EC2 ##
user: ubuntu
user_home: /home/ubuntu

dryad:
  github:
    username: CDL-Dryad ## OR REPLACE WITH YOUR PERSONAL ACCOUNT ##
  db:
    name: dryad
    user: travis
    password: ""
  aws:
    accessKey: "{{ lookup('env', 'DRYAD_AWS_ACCESS_KEY_ID') }}"
    secretKey: "{{ lookup('env', 'DRYAD_AWS_SECRET_ACCESS_KEY') }}"
    regionName: ## REPLACE ##
  doi:
    server: https://ezid.datacite.org
    username: DRYAD.DRYAD
    password: 
