export PATH="$HOME/.rbenv/bin:$HOME/.rbenv/shims:$HOME/.rbenv/ruby-build/bin:$PATH"

# AWS settings:
export AWS_ACCESS_KEY_ID={{ dryad.aws.accessKey }}
export AWS_SECRET_ACCESS_KEY={{ dryad.aws.secretKey }}


# DOI credentials
export DOI_USER={{ dryad.doi.username }}
export DOI_PASS={{ dryad.doi.password }}

# If there is a local .bashrc, load it
if [ -f ~/.bashrc ]; then
   source ~/.bashrc
fi

# update instance
sudo apt-get upgrade

# On first login, finish installing rails
if [ -f ~/rails_install.sh ]; then
	bash ~/rails_install.sh
	rm ~/rails_install.sh
	# install sample data
	mysql -u {{ dryad.db.user }} -p{{ dryad.db.password }} -D {{ dryad.db.name }} -e "source $HOME/dryad-config/sample_data/sample_record.sql;"
fi

# Rails server alias
alias rails_start='cd ~/dryad; rails server --binding=0.0.0.0'
