export PATH="$HOME/bin:$HOME/.rbenv/bin:$HOME/.rbenv/shims:$HOME/.rbenv/ruby-build/bin:$PATH"

# AWS settings:
export AWS_ACCESS_KEY_ID={{ dryad.aws.accessKey }}
export AWS_SECRET_ACCESS_KEY={{ dryad.aws.secretKey }}


# DOI credentials
export DOI_USER={{ dryad.doi.username }}
export DOI_PASS={{ dryad.doi.password }}

# If there is a local .bashrc, load it
if [ -f ~/.bashrc ]; then
   source ~/.bashrc
fi

# update instance
sudo apt-get upgrade

# Register this instance with OpsWorks on first login
if [ -f ~/.aws/aws_opsworks.sh ]; then
	bash ~/.aws/aws_opsworks.sh
	rm ~/.aws/aws_opsworks.sh
fi

# On first login, finish installing rails
if [ -f ~/rails_install.sh ]; then
	bash ~/rails_install.sh
	rm ~/rails_install.sh
	# install sample data
	mysql -u {{ dryad.db.user }} -p{{ dryad.db.password }} -D {{ dryad.db.name }} -e "source $HOME/dryad-config/sample_data/sample_record.sql;"
fi

# Route Rails port 3000 to 80
sudo iptables -t nat -I PREROUTING -p tcp --dport 80 -j REDIRECT --to-ports 3000
